	body {
		font-size: 16px;
		font-family: "PTSans", sans-serif;
		color: #f9fcfc;
	}

	a {
		font-size: 16px;
		font-family: "PTSans", sans-serif;
		color: #f9fcfc; 	
		text-decoration: none;
	}

	.row {
		display: flex;
		flex-wrap: 	wrap;
	}
	
	.container {
		max-width: 290px;
		margin: 0 auto;
	}

	.header__logo {
		background-image: url('../img/css_sprites.png'); 
		background-repeat: no-repeat;
	}

	/*HEADER*/

	.header {
		padding-top: 25px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.header__row {
		display: flex;
		justify-content: space-between;
	}

	.header__logo {
		content: '';
		width: 65px;
		height: 24px;
		background-position: -10px -167px;
		z-index: 2;
	}

	.header__dropdown {	
		display: flex;
		justify-content: center;
	}

	.header__menu {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #000;
		transition: 0.5s;
		transform: scaleY(0);
		opacity: 0;
	}

	.header__menu--active {
		transform: scaleY(1);
		opacity: 1;
	}

	.header__menu--list {
		padding-left: 15px;
		margin-top: 70px;
		list-style: none;
	}

	.header__menu--item {
		margin-bottom: 15px;
	}

	.header__menu--link {
		transition: 0.5s;
		text-decoration: none;
		color: #fff;
	}

	/*burger*/
	.burger {
		position: relative;
		display: block;
		width: 25px;
		height: 25px;
	}

	.burger__inner,
	.burger__inner:before,
	.burger__inner::after {
		position: absolute;
		width: 2px;
		height: 24px;
		left: 50%;
		background-color: #fff;
	}

	.burger__inner:before {
		content: '';
		transition: 0.5s;
		transform: translateX(-12px);
	}

	.burger__inner::after {
		content: '';
		transition: 0.5s;
		transform: translateX(9px);
	}

	.burger_active .burger__inner:before {
		transform: rotate(35deg);
		height: 24px;
	}

	.burger_active .burger__inner::after {
		transform: rotate(-35deg);
		height: 24px;
	}

	.burger_active .burger__inner {
		height: 0;
	}

	/*PROMO*/

	.promo {
		padding-top: 140px;
		padding-bottom: 30px;
		color: #fff;
		background-image: url(../img/bg_main-mobile.png);
		background-size: cover;
	}

	.promo__btn--mobile {
		background-color: #eec643;
		border: none;
		height: 60px;
		width: 100%;
		margin-top: 80px;
	}

	.promo__title-desc {
		display: none;
	}


	/*DIRECTION*/


	.direction__vocal {
		background-image: url(../img/directions_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  font-size: 18px;
	  font-family: "PTSans", sans-serif;
	  color: #f9fcfc;
	  min-height: 145px;
	}
	.direction__vocal-title {
		font-size: 18px;
		font-weight: bold;
	}
	.direction__vocal-text {
  	font-size: 16px;
	}
	.direction__vocal-text--desc {
		display: none;
	}
	

	.direction__guitar--text-desc,
	.direction__guitar--text-price,
	.promo__text--desc,
	.promo__form-desc,
	.direction__piano--text-desc,
	.direction__lessons-desc,
	.about__composition--text-desc,
	.about__result--text-desc,
	.about__studio--text-desc,
	.about__item--form-desc {
		display: none;
	}

	.direction__guitar {
		background-image: url(../img/directions_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  font-size: 18px;
	  font-family: "PTSans", sans-serif;
	  color: #f9fcfc;
	  min-height: 145px;
	}

	.direction__cols {
		display: flex;
		padding-right: 15px;
		justify-content: space-between;
	}

	.direction__piano {
		background-image: url(../img/directions_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  font-size: 18px;
	  font-family: "PTSans", sans-serif;
	  color: #f9fcfc;
	  min-height: 145px;
	}

	.direction__item {
		transform: rotate(-90deg);
		width: 25%;
		background-color: #eec643;
	}


	/*ABOUT*/

	.about__composition {
		background-image: url(../img/advantages_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.about__result {
		background-image: url(../img/advantages_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.about__studio {
		background-image: url(../img/advantages_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}


	/*VIDEO*/

	.video__chery {
		background-image: url(../img/video_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.video__jo {
		background-image: url(../img/video_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.video__calm {
		background-image: url(../img/video_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.video__serg {
		background-image: url(../img/video_card_img_4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}


@media (min-width: 1024px) {
	
	body {
		font-size: 20px;
		color: #f9fcfc;
	}

	* {
	  box-sizing: border-box;
	  text-align: left;
	}

	h2 {
		font-size: 50px;
		font-family: "Prata", serif;
		font-weight: normal;
	}

	.container {
		max-width: 1170px;
		margin: 0 auto;
	}

	/*HEADER*/

	.header__menu {
		display: block;
		position: static;
		background: none;
		opacity: 1;
		transform: none;
	}

	.header__menu--list {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 0;
	}

	.header__menu--link {
		color: #3f4c41;
		margin-left: 25px;
		text-transform: uppercase;
	}

	.burger {
		display: none;
	}

	/*PROMO*/

	.promo {
		margin-bottom: 90px;
	}

	.promo {
		color: #f9fcfc;
		background-image: url(../img/bg_main.jpg);
		background-size: cover;
		min-height: 770px;
	}

	.promo__title {
		display: none;
	}

	.promo__title-desc{
		display: block;
		font-family: 'Prata', serif;
		max-width: 700px;
		font-size: 55px;
    font-weight: normal;
	}

	.promo__text--mobile {
		display: none;
	}

	.promo__text--desc {
		display: block;
		max-width: 500px;
	}

	.promo__btn--mobile {
		display: none;
	}

	.promo__form-desc {
		display: block;
		position: relative;
	}

	.promo__form {
		position: absolute;
		border: 2px solid #021a23;
		background-color: #f7f2e1;
		color: #021a23;
	  left: 900px;
	  top: -180px;
	  width: 266px;
	  height: 416px;
	  opacity: 0.8;
	  padding-left: 30px;
	  padding-right: 30px;
	}

	.romo__form--header {
		font-size: 30px;
	}

	.promo__form--text {
		font-size: 18px;
		margin-bottom: 50px;
	}

	.promo__form--item {
		width: 210px;
		border: none;
		border-bottom: 2px solid #021a23;
		background-color: #f7f2e1;
		margin-bottom: 25px;
	}

	.promo__form-btn {
		position: absolute;
		background-color: #021a23;
		color: #e9edee;
		width: 100%;
		height: 70px;
		border: none;
		bottom: 0;
		left: 0;
		text-align: center;
	}

	/*DIRECTION*/

	.direction__container {
	  display: flex;
	  flex-wrap: wrap;
	}

	.direction__header {
		position: relative;
		transform: rotate(-90deg);
		display: block;
		padding: 8px 0;
		color: #000;
		width: 8.3%;
		height: 100%;
		margin-top: auto;	
		white-space: nowrap;
	}

	.direction__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 570px;
		height: 2px;
	}

	.direction__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 570px;
		height: 2px;
		bottom: 0;
	}

	.direction__row {
		display: flex;
		width: 91.7%;
	}

	.direction__cols {
		display: flex;
		width: 100%;
		padding: 0;
	}

	.direction__vocal {
		width: 58.34%;
		min-height: 269px;
		padding-left: 15px;
	  margin-bottom: 30px;
	  /*margin-left: 15px;*/
		order: 3;
	}

	.direction__vocal-text--mobile,
	.direction__guitar--text-mobile,
	.direction__piano--text-mobile {
		display: none;
	}
	
	.direction__guitar--text-desc,
	.direction__guitar--text-price,
	.direction__vocal-text--desc,
	.direction__piano--text-desc {
		display: block;
	}
	
	.direction__guitar {
  	width: 41.66%;
  	min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
	  margin-bottom: 30px;
	  margin-right: 30px;
	  /*margin-left: 15px;*/
		order: 2;
	}

	.direction__guitar--text-price {
		margin-top: 100px;
	}

	.direction__piano {
		width: 41.66%;
		min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
  	/*margin-left: 15px;*/
  	margin-right: 30px;
		order: 4;
	}

	.direction__cols-inner {
		display: flex;
		order: 5;
		width: 58.34%;
	}

	.direction__lessons-desc {
		display: block;
		background-image: url(../img/directions_card_img_4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		width: 50%;
		min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin-right: 30px;
  	/*margin-left: 15px;*/
		background-color: #000;
		order: 1;
	}

	.direction__item {
		width: 50%;
		font-size: 30px;
		min-height: 269px;
		padding-left: 15px;
		/*margin-left: 15px;*/
		transform: 	none;
		order: 2;
	}
	
	/*ABOUT*/

	.about {
		margin-top: 90px;
	}

	.about__composition--text-mobile,
	.about__result--text-mobile,
	.about__studio--text-mobile,
	.about__item--form-mobile {
		display: none;
	}

	.about__composition--text-desc,
	.about__result--text-desc,
	.about__studio--text-desc,
	.about__item--form-desc {
		display: block;
	}

	.about__container {
		display: flex;
		flex-wrap: wrap;
	}

	.about__row {
		display: flex;
	}

	.about__col-5 {
		display: flex;
		width: 46.55%;
	}

	.about__col-7 {
		display: flex;
		width: 53.45%;
	}

	.cols {
		flex-direction: column;
		margin-right: 30px;
	}

	.about__header {
		position: relative;
		display: block;
		padding: 7px 0;
		color: #021a23;
		width: 100%;
	}

	.about__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 530px;
		height: 2px;	
	}

	.about__header::after {		
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 530px;
		height: 2px;
	}

	.about__cols-inner {
		display: flex;
		width: 100%;
	}

	.about__composition {
		background-image: url(../img/advantages_card_img_1_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 470px;
		width: 50%;
		margin-right: 30px;
	}

	.about__result {
		background-image: url(../img/advantages_card_img_2_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 470px;
		width: 50%;
	}

	.about__studio {
		background-image: url(../img/advantages_card_img_3_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 570px;
		width: 50%;
		margin-right: 30px;
	}

	.about__item--form-desc {
		width: 50%;
		position: relative;
	}

	.about__form {
		border: 2px solid #eec643;
		min-height: 570px;
	  padding-left: 30px;
	  padding-right: 30px;
		color: #021a23;
	}

	.about__form--header {
		color: #eec643;
	}

	.about__form--text {
		margin-bottom: 175px;
	}

	.about__form-item {
		width: 210px;
		border: none;
		border-bottom: 2px solid #eec643;
		margin-bottom: 25px;
	}

	.about__form-btn {
		position: absolute;
		width: 100%;
		height: 70px;
		border: none;
		bottom: 0;
		left: 0;
		text-align: center;
		background-color: #eec643;
		color: #f7f1d7;
	}

	/*VIDEO*/

	.video__row {
		display: flex;
		/*flex-direction: row;*/
	}

	.col-1 {
		width: 8.33%;
		margin-right: 30px;
		/*min-height: 565px;*/
	}

	.video__header {
		color: #021a23;
		transform: rotate(-90deg);
		white-space: nowrap;
	}

	.col-3 {
		display: flex;
		width: 25%;
		flex-direction: column;
		/*min-height: 565px;*/
	}

	.col-8 {
		width: 66.67%;
		margin-right: 30px;
		/*min-height: 565px;*/
	}

	.video__chery {
		height: 565px;
	}

	.video__item {
		height: 170px;
	}

	/*CONTACTS*/

	.contacts__row {
		display: flex;
	}

	.col-9 {
		width: 75%;
		display: flex;
		flex-direction: column;
	}

	.row-frst {
		display: flex;
	}

	.contacts__title {
		color: #021a23;
	}

	.contacts__text {
		color: #021a23;
	}

	.col-3 {
		width: 25%;
	}







}


	







		/*SPRITES*/

/*	
.bg-footer_logo_desc {
    width: 44px; height: 17px;
    background: url('css_sprites.png') -10px -10px;}

.bg-head_logo_desc {
    width: 65px; height: 24px;
    background: url('css_sprites.png') -10px -123px;}

.bg-head_logo_mobile {
    width: 65px; height: 24px;
    background: url('css_sprites.png') -10px -167px;}

.bg-next_arrow_slider_mobile {
    width: 10px; height: 18px;
    background: url('css_sprites.png') -10px -47px;}

.bg-play_big_button_desc {
    width: 55px; height: 70px;
    background: url('css_sprites.png') -10px -328px;}

.bg-play_button_mobile {
    width: 28px; height: 35px;
    background: url('css_sprites.png') -10px -211px;}

.bg-play_small_button_desc {
    width: 33px; height: 42px;
    background: url('css_sprites.png') -10px -266px;}

.bg-pre_arrow_slider_mobile {
    width: 10px; height: 18px;
    background: url('css_sprites.png') -10px -85px;
}*/