	body {
		font-size: 16px;
		font-family: "PTSans", sans-serif;
		color: #f9fcfc;
	}

	a {
		font-size: 16px;
		font-family: "PTSans", sans-serif;
	}

	.row {
		display: flex;
		flex-wrap: 	wrap;
	}
	
	.container {
		margin: 0 auto;
		padding: 0 3%;
	}

	.header__logo,
	.footer__logo,
	.video__play,
	.video__chery {
		background-image: url('../img/css_sprites.png'); 
		background-repeat: no-repeat;
	}

	/*HEADER*/

	.header {
		padding-top: 25px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.header__row {
		display: flex;
		justify-content: space-between;
	}

	.header__logo {
		content: '';
		width: 65px;
		height: 24px;
		background-position: -10px -167px;
		z-index: 2;
	}

	.header__dropdown {	
		display: flex;
		justify-content: center;
	}

	.header__menu {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #000;
		transition: 0.5s;
		transform: scaleY(0);
		opacity: 0;
	}

	.header__menu--active {
		transform: scaleY(1);
		opacity: 1;
	}

	.header__menu--list {
		padding-left: 15px;
		margin-top: 70px;
		list-style: none;
	}

	.header__menu--item {
		margin-bottom: 15px;
	}

	.header__menu--link {
		transition: 0.5s;
		color: #f9fcfc; 	
		text-decoration: none;

	}

	/*burger*/
	.burger {
		position: relative;
		display: block;
		width: 25px;
		height: 25px;
	}

	.burger__inner,
	.burger__inner:before,
	.burger__inner::after {
		position: absolute;
		width: 2px;
		height: 24px;
		left: 50%;
		background-color: #fff;
	}

	.burger__inner:before {
		content: '';
		transition: 0.5s;
		transform: translateX(-12px);
	}

	.burger__inner::after {
		content: '';
		transition: 0.5s;
		transform: translateX(9px);
	}

	.burger_active .burger__inner:before {
		transform: rotate(35deg);
		height: 24px;
	}

	.burger_active .burger__inner::after {
		transform: rotate(-35deg);
		height: 24px;
	}

	.burger_active .burger__inner {
		height: 0;
	}

	/*PROMO*/

	.promo {
		padding-top: 140px;
		padding-bottom: 30px;
		color: #fff;
		background-image: url(../img/bg_main-mobile.png);
		background-size: cover;
	}

	.promo__btn--mobile {
		background-color: #eec643;
		border: none;
		height: 60px;
		width: 100%;
		margin-top: 80px;
	}

	.promo__title-desc {
		display: none;
	}


	/*DIRECTION*/

	.direction__header {
		position: relative;
		font-size: 30px;
  	font-family: "Prata";
		transform: none;
		color: #021a23;
		font-weight: normal;
	}
	
	.direction__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		top: -5px;
	}

	.direction__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		bottom: -5px;
	}

	.direction__vocal {
		display: block;
		background-image: url(../img/directions_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  color: #f9fcfc;
	  min-height: 145px;
	  width: 100%;
	  margin-bottom: 15px;
	  padding-left: 10px;
	}

	.direction__vocal-title {
  	font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;		
	}

	.direction__vocal-text--mobile {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
		width: 70%;
	}

	.direction__vocal-text--desc {
		display: none;
	}	

	.direction__guitar--text-desc,
	.direction__guitar--text-price,
	.promo__text--desc,
	.promo__form-desc,
	.direction__piano--text-desc,
	.direction__lessons-desc,
	.about__composition--text-desc,
	.about__result--text-desc,
	.about__studio--text-desc,
	.about__item--form-desc {
		display: none;
	}

	.direction__guitar {
		background-image: url(../img/directions_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  color: #f9fcfc;
	  min-height: 145px;
	  margin-bottom: 15px;
	  padding-left: 10px;
	}

	.direction__guitar--header {
  	font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;		
	}

	.direction__guitar--text-mobile {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  width: 70%;
	}

	.direction__cols {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	div .direct__row {
		flex-direction: row;
	}

	.direction__piano {
		background-image: url(../img/directions_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  color: #f9fcfc;
	  min-height: 145px;
	  width: 80%;
	  margin-right: 15px;
	  padding-left: 10px;
	}

	.direction__piano--header {
  	font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;		
	}

	.direction__piano--text-desc {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;		
	}

	.direction__cols-inner {
		width: 20%;
	}

	.direction__item {
		transform: rotate(180deg);
		width: 100%;
		background-color: #eec643;
		text-align: center;
		writing-mode: vertical-lr;
	}

	.direction__link {
		text-decoration: none;
	}

	.direction__item-title {
		color: #021a23;
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  font-weight: 400;
	  text-transform: uppercase;
	}


	/*ABOUT*/

	.about__header {
		position: relative;
		font-size: 30px;
  	font-family: "Prata";
		transform: none;
		color: #021a23;
		font-weight: normal;
	}

	.about__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		top: -5px;		
	}

	.about__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		bottom: -5px;
	}

	.about__cols-inner {
		display: flex;
		flex-direction: column;
	}

	.about__composition {
		background-image: url(../img/advantages_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  min-height: 145px;
		padding-left: 10px;
		margin-bottom: 15px;
	}

	.about__composition--header {
		font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;
	}

	.about__composition--text-mobile {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  width: 70%;
	}  		

	.about__result {
		background-image: url(../img/advantages_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  min-height: 145px;
		padding-left: 10px;
		margin-bottom: 15px;
	}

	.about__result--header {
		font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;		
	}

	.about__result--text-mobile {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  width: 70%;		
	}

	.about__col-7 {
		display: flex;
		flex-direction: row;
	}

	.about__studio {
		background-image: url(../img/advantages_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	  min-height: 145px;
		padding-left: 10px;
		width: 80%;
		margin-right: 15px;
	}

	.about__studio--header {
		font-family: "PTSans", sans-serif;
		font-size: 18px;
		font-weight: bold;			
	}

	.about__studio--text-mobile {
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  width: 70%;		
	}

	.about__item--form-mobile {
		transform: rotate(180deg);
		width: 20%;
		text-align: center;
		background-color: #eec643;
		writing-mode: vertical-lr;
	}

	.about__item--form-link {
		text-decoration: none;
	}

	.about__item-title {
		white-space: nowrap;
		color: #f9fcfc;
	  font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  text-transform: uppercase;
	  font-weight: 400;
	}


	/*VIDEO*/

	.video__header {
		position: relative;
		font-size: 30px;
  	font-family: "Prata";
		transform: none;
		color: #021a23;
		font-weight: normal;
	}

	.video__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		top: -5px;		
	}

	.video__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		bottom: -5px;
	}

	.video__chery {
		position: relative;
		background-image: url(../img/video_card_img_1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 80%;
		min-height: 185px;
		margin: 0 auto;
		padding-left: 10px;
		padding-top: 110px;
	}

	.video__chery:before {
		content: '';
		position: absolute;
		display: block;
		width: 10px;
		height: 18px;
		background-position: -10px -85px;
		left: -25px;
		top: 80px;
	}

	.video__chery::after {
		content: '';
		position: absolute;
		display: block;
		width: 10px;
		height: 18px;
		background-position: -10px -47px;
		top: 80px;
		left: 240px;
	}

	.video__chery--link {
		text-decoration: none;
		position: relative;
	}

	.video__play {
		position: absolute;
		content: '';
		display: block;
		width: 28px;
		height: 35px;
    background-position: -10px -211px;
    top: -35px;
    left: 90px;
	}

	.video__chery--title {
	  font-size: 18px;
	  font-family: "PTSans", sans-serif;
	  color: #f9fcfc;
	  font-weight: bold;
	  margin-top: 0;
	  margin-bottom: 0;
	}

	.video__chery--text-desc {
		display: none;
	}

	.video__chery--text-mobile {
		display: block;
  	font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  color: #f9fcfc;
 	 	margin-top: 10px;
	}

	.col-3 {
		display: none;
	}

	.video__jo {
		background-image: url(../img/video_card_img_2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.video__calm {
		background-image: url(../img/video_card_img_3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.video__serg {
		background-image: url(../img/video_card_img_4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	/*CONTACTS*/

	.contacts__title {
		position: relative;
		font-size: 30px;
  	font-family: "Prata";
		transform: none;
		color: #021a23;
		font-weight: normal;
	}

	.contacts__title:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		top: -5px;		
	}

	.contacts__title::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
		bottom: -5px;
	}

	.contacts__text {
		display: block;
  	font-size: 16px;
	  font-family: "PTSans", sans-serif;
	  color: #021a23;
 	 	margin-top: 10px;
	}

	.row-scd {
		height: 210px;
	}

	.contacts__form {
		display: none;
	}

	.contacts__form-mobile {
		margin-top: 15px;
	}

	.about__item--form-link {
		width: 100%;
		height: 60px;
		border: none;
		background-color: #eec643;
	}

	/*FOOTER*/

	.footer {
		display: none;
	}


@media (min-width: 1024px) {
	
	body {
		font-size: 20px;
		color: #f9fcfc;
	}

	* {
	  box-sizing: border-box;
	  text-align: left;
	}

	h2 {
		font-size: 50px;
		font-family: "Prata", serif;
		font-weight: normal;
	}

	.container {
		max-width: 1170px;
		margin: 0 auto;
	}

	/*HEADER*/

	.header__menu {
		display: block;
		position: static;
		background: none;
		opacity: 1;
		transform: none;
	}

	.header__menu--list {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 0;
	}

	.header__menu--link {
		font-family: "PTSans", sans-serif;
		font-size: 16px;
		color: #3f4c41;
		margin-left: 25px;
		text-transform: uppercase;
	}

	.burger {
		display: none;
	}

	/*PROMO*/

	
	.promo {
		color: #f9fcfc;
		background-image: url(../img/bg_main.jpg);
		background-size: cover;
		min-height: 770px;
		margin-bottom: 90px;
	}

	.promo__row {
		margin-top: 65px;
	}

	.promo__info {
		float: left;
	}

	.promo__title {
		display: none;
	}

	.promo__title-desc{
		display: block;
		font-family: 'Prata', serif;
		max-width: 700px;
		font-size: 50px;
    font-weight: normal;
	}

	.promo__text--mobile {
		display: none;
	}

	.promo__text--desc {
		display: block;
		max-width: 500px;
	}

	.promo__btn--mobile {
		display: none;
	}

	.promo__form-desc {
		display: block;
		box-sizing: border-box;
		float: right;
	}

	.promo__form {
		border: 2px solid #021a23;
		background-color: #f7f2e1;
		color: #021a23;
	  width: 266px;
	  height: 416px;
	  opacity: 0.8;
	}

	.promo__form--header {
		font-size: 30px;
		margin-left: 30px;
	}

	.promo__form--text {
		font-size: 18px;
		margin-bottom: 50px;
		margin-left: 30px;
	}

	.promo__form--item {
		width: 210px;
		border: none;
		border-bottom: 2px solid #021a23;
		background-color: #f7f2e1;
		margin-bottom: 25px;
		margin-left: 30px;
	}

	.promo__form-btn {
		background-color: #021a23;
		color: #e9edee;
		width: 264px;
		height: 70px;
		border: none;
		text-align: center;
		margin-top: 5px;
	}

	/*DIRECTION*/

	.direction__container {
	  display: flex;
	  align-self: flex-end;
	}

	.direction__header {
		position: relative;
		transform: rotate(180deg);
		display: block;
		color: #000;
		width: 3.5%;
		white-space: nowrap;
		writing-mode: vertical-lr;
	}

	.direction__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		top: 0;
		right: 44px;
	}

	.direction__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		bottom: 0;
		left: 44px;
	}

	.direction__row {
		display: flex;
		width: 91.7%;
	}

	.direction__cols {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 0;
	}

	.direction__vocal {
		width: 58.34%;
		min-height: 269px;
		padding-left: 15px;
	  margin-bottom: 30px;
		order: 3;
	}

	.direction__vocal-text--mobile,
	.direction__guitar--text-mobile,
	.direction__piano--text-mobile {
		display: none;
	}
	
	.direction__guitar--text-desc,
	.direction__guitar--text-price,
	.direction__vocal-text--desc,
	.direction__piano--text-desc {
		display: block;
	}
	
	.direction__guitar {
  	width: 41.66%;
  	min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
	  margin-bottom: 30px;
	  margin-right: 30px;
		order: 2;
	}

	.direction__guitar--text-price {
		margin-top: 100px;
	}

	.direction__piano {
		width: 41.66%;
		min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin-right: 30px;
		order: 4;
	}

	.direction__cols-inner {
		display: flex;
		order: 5;
		width: 58.34%;
	}

	.direction__lessons-desc {
		display: block;
		background-image: url(../img/directions_card_img_4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		width: 50%;
		min-height: 269px;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin-right: 30px;
		background-color: #000;
		order: 1;
	}

	.direction__item {
		width: 50%;
		font-size: 30px;
		min-height: 269px;
		padding-left: 15px;
		transform: 	none;
		writing-mode: lr-tb;
		order: 2;
	}
	
	/*ABOUT*/

	.about {
		margin-top: 90px;
	}

	.about__composition--text-mobile,
	.about__result--text-mobile,
	.about__studio--text-mobile,
	.about__item--form-mobile {
		display: none;
	}

	.about__composition--text-desc,
	.about__result--text-desc,
	.about__studio--text-desc,
	.about__item--form-desc {
		display: block;
	}

	.about__container {
		display: flex;
		flex-wrap: wrap;
	}

	.about__row {
		display: flex;
	}

	.about__col-5 {
		display: flex;
		width: 46.55%;
	}

	.about__col-7 {
		display: flex;
		width: 53.45%;
	}

	.cols {
		flex-direction: column;
		margin-right: 30px;
	}

	.about__header {
		position: relative;
		display: block;
		padding: 7px 0;
		color: #021a23;
		width: 100%;
	}

	.about__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;	
	}

	.about__header::after {		
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
	}

	.about__cols-inner {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.about__composition {
		background-image: url(../img/advantages_card_img_1_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 470px;
		width: 50%;
		margin-right: 30px;
		margin-bottom: 0;
	}

	.about__result {
		background-image: url(../img/advantages_card_img_2_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 470px;
		width: 50%;
		margin-bottom: 0;
	}

	.about__studio {
		background-image: url(../img/advantages_card_img_3_desc.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 570px;
		width: 50%;
		margin-right: 30px;
	}

	.about__item--form-desc {
		width: 50%;
		position: relative;
	}

	.about__form {
		border: 2px solid #eec643;
		min-height: 570px;
	  padding-left: 30px;
	  padding-right: 30px;
		color: #021a23;
	}

	.about__form--header {
		color: #eec643;
	}

	.about__form--text {
		margin-bottom: 175px;
	}

	.about__form-item {
		width: 100%;
		border: none;
		border-bottom: 2px solid #eec643;
		margin-bottom: 25px;
	}

	.about__form-btn {
		position: absolute;
		width: 100%;
		height: 70px;
		border: none;
		bottom: 0;
		left: 0;
		text-align: center;
		background-color: #eec643;
		color: #f7f1d7;
	}

	/*VIDEO*/

	.video__row {
		display: flex;
		margin-top: 90px;
	}

	.col-1 {
		width: 8.33%;
		margin-right: 30px;
		align-self: flex-end;
	}

	.video__header {
		position: relative;
		color: #021a23;
		display: block;
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		white-space: nowrap;
		margin-top: auto;
		height: 565px;
	}

	.video__header:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		top: 0;
		right: 44px;
	}

	.video__header::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 2px;
		height: 100%;
		bottom: 0;
		left: 44px;
	}

	.video__link {		
		text-decoration: none;
	}

	.video__play {
		display: none;
	}

	.video__chery--title {
		color: #f9fcfc;
	}

	.video__title,
	.video__text {
		color: #f9fcfc;
		font-size: 14px;
		font-family: "PTSans", sans-serif;
		font-weight: 400;
	}

	.col-3 {
		display: flex;
		width: 26.5%;
		flex-direction: column;
	}

	.video__jo,
	.video__calm {
		margin-bottom: 27px;
	}

	.col-8 {
		width: 66.67%;
		margin-right: 30px;
	}

	.video__chery {
		height: 565px;
		padding-left: 30px;
		padding-top: 20px;
		width: 100%;
	}

	.video__title {
		margin-top: 0;
	}

	.video__chery--text-mobile {
		display: none;
	}

	.video__chery--text-desc {
		display: block;
		color: #f9fcfc;
		line-height: 24px;
	}

	.video__item {
		height: 170px;
		padding-left: 20px;
		padding-top: 20px;
	}

	/*CONTACTS*/

	.contacts__form-mobile {
		display: none;
	}

	.contacts__row {
		display: flex;
		margin-top: 90px;
	}

	.contacts__col-9 {
		width: 72.7%;
		display: flex;
		flex-direction: column;
		margin-right: 30px;
	}

	.row-frst {
		display: flex;
	}

	.row-frst__col-8 {
		width: 66.67%;
		margin-right: 30px;
	}

	.contacts__title {
		position: relative;
		display: block;
		padding: 7px 0;
		color: #021a23;
		width: 100%;
	}

	.contacts__title:before {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
	}

	.contacts__title::after {
		content: '';
		display: block;
		position: absolute;
		background: #eec643;
		width: 100%;
		height: 2px;
	}

	.row-frst__col-4 {
		width: 33.33%;
	}

	.contacts__text {
		color: #021a23;
		margin-top: 30px;
		line-height: 30px;
	}

	.row-scd {
		height: 465px;
	}

	.contacts__col-3 {
		width: 24.3%;
	}

	.contacts__form {
		display: block;
		position: relative;
		border: 2px solid #eec643;
		min-height: 570px;
	  padding-left: 30px;
	  padding-right: 30px;
		color: #021a23;
	}

	.contacts__form--header {
		color: #eec643;
	}

	.contacts__form--text {
		margin-bottom: 175px;
	}

	.contacts__form--item {
		width: 100%;
		border: none;
		border-bottom: 2px solid #eec643;
		margin-bottom: 25px;
	}

	.contacts__form--btn {
		position: absolute;
		width: 100%;
		height: 70px;
		border: none;
		bottom: 0;
		left: 0;
		text-align: center;
		background-color: #eec643;
		color: #f7f1d7;
	}

	/*FOOTER*/

	.footer {
		display: block;
		margin-top: 90px;
		padding-bottom: 60px;
	}

	.footer__logo {
		content: '';
    width: 44px;
    height: 18px;
		background-position: -10px -9px;
		float: left;
	}

	.footer__socials-ytb,
	.footer__socials-inst,
	.footer__socials-fb,
	.footer__socials-vk {
		text-transform: uppercase;
		color: #021a23;
		text-decoration: none;
		float: right;
		margin-left: 40px;
	}





}


	







		/*SPRITES*/

/*	
.bg-footer_logo_desc {
    width: 44px; height: 17px;
    background: url('css_sprites.png') -10px -10px;}

.bg-head_logo_desc {
    width: 65px; height: 24px;
    background: url('css_sprites.png') -10px -123px;}

.bg-head_logo_mobile {
    width: 65px; height: 24px;
    background: url('css_sprites.png') -10px -167px;}

.bg-next_arrow_slider_mobile {
    width: 10px; height: 18px;
    background: url('css_sprites.png') -10px -47px;}

.bg-play_big_button_desc {
    width: 55px; height: 70px;
    background: url('css_sprites.png') -10px -328px;}

.bg-play_button_mobile {
    width: 28px; height: 35px;
    background: url('css_sprites.png') -10px -211px;}

.bg-play_small_button_desc {
    width: 33px; height: 42px;
    background: url('css_sprites.png') -10px -266px;}

.bg-pre_arrow_slider_mobile {
    width: 10px; height: 18px;
    background: url('css_sprites.png') -10px -85px;
}*/